@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Montserrat Variable', sans-serif;
}

body {
  @apply bg-black text-white;
}

html,
body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}