---
import Heading from "@components/atoms/Heading.astro";
import Paragraph from "@components/atoms/Paragraph.astro";
import Contact from "@components/Contact.astro";
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Página no encontrada">
  <section class="text-center container mx-auto px-4 py-16">
    <Heading level={1}>404 - Página no encontrada</Heading>
    <Paragraph>Lo sentimos, la página que buscas no existe.</Paragraph>
  </section>
</Layout>
