---
import Layout from "@layouts/Layout.astro";
import Heading from "@components/atoms/Heading.astro";
import Paragraph from "@components/atoms/Paragraph.astro";
---

<Layout title="Política de cookies">
  <section class="max-w-4xl mx-auto px-4 py-16 prose">
    <h1>Política de cookies</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas sit
      laborum, officia, facilis eveniet corrupti eaque labore nemo cupiditate
      fugit, est voluptatibus? Ipsam debitis tenetur voluptatibus, tempora nulla
      aspernatur expedita.
    </p>
  </section>
</Layout>
