---
import Layout from "@/layouts/Layout.astro";
import Cta from "@/components/organisms/Cta.astro";
import Products from "@/components/Products.astro";
---

<Layout title="Alquiler de equipos" pageColor="white">
  <section class="container mx-auto px-4 py-16">
    <h1 class="text-5xl font-black leading-none text-balance italic uppercase">
      Do you need to rent
    </h1>
    <p class="font-medium text-[38px]">equipment for your shoots?</p>
  </section>

  <Products />
  <Cta
    title="If you need any other material that you don't see here, please send us an email and we will get it for you."
    long
  />
</Layout>
