---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Alquiler de equipos">
  <section class="max-w-4xl mx-auto px-4 py-16 prose">
    <h1>Alquiler de equipos</h1>
    <p>
      Aquí encontrarás información sobre el alquiler de nuestros equipos.
      Ofrecemos una amplia gama de dispositivos y accesorios para satisfacer tus
      necesidades.
    </p>
    <p>
      Si estás interesado en alquilar alguno de nuestros productos, no dudes en
      contactarnos para más detalles.
    </p>
  </section>
</Layout>
