---
import { getI18N } from "@/a18n/index.ts";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
---

<section class="container mx-auto px-4 py-16">
  <p class="text-4xl leading-normal">
    {t.ABOUT.TEXT}
  </p>

  <img
    src="/images/about-video.jpg"
    alt="About Us"
    class="mt-14 aspect-video h-full w-full object-cover"
  />
</section>

<section class="container mx-auto px-4 py-16">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="max-w-[368px] w-full">
      <img
        src="/images/about-1.jpg"
        alt="About Us Image 1"
        class="w-full h-full object-cover aspect-square"
      />
    </div>
    <p class="text-lg">
      {t.ABOUT.TEXT1}
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 items-end">
    <p class="text-lg">
      {t.ABOUT.TEXT2}
    </p>
    <div class="max-w-[368px] w-full ml-auto">
      <img
        src="/images/about-2.jpg"
        alt="About Us Image 2"
        class="w-full h-full object-cover aspect-square"
      />
    </div>
  </div>
  <div>
    <div class="max-w-[368px] w-full mx-auto mt-24">
      <img
        src="/images/about-3.jpg"
        alt="About Us Image 3"
        class="w-full h-full object-cover aspect-square"
      />
    </div>
  </div>
</section>
