---
import { getI18N } from "@/a18n/index.ts";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
---

<section class="h-screen">
  <div
    class="container h-full mx-auto px-4 py-16 flex items-center justify-center"
  >
    <p class="text-lg md:text-[54px] leading-normal" id="about-text">
      {t.ABOUT.TEXT}
    </p>
  </div>
</section>

<section
  class="h-screen relative flex items-center justify-center"
  id="about-video-section"
>
  <div class="container mx-auto px-4">
    <video
      src="/about.mp4"
      autoplay
      loop
      muted
      class="w-full aspect-video"
      id="about-video"
      aria-label="About Video"
    >
    </video>
  </div>
</section>

<section id="about-content-section">
  <div class="container mx-auto px-4 py-16">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="max-w-[368px] w-full">
        <img
          src="/images/about-1.jpg"
          alt="About Us Image 1"
          class="w-full h-full object-cover aspect-square about-content-image origin-center"
        />
      </div>
      <p class="text-lg" set:html={t.ABOUT.TEXT1} />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 items-end">
      <p class="text-lg" set:html={t.ABOUT.TEXT2} />
      <div class="max-w-[368px] w-full ml-auto">
        <img
          src="/images/about-2.jpg"
          alt="About Us Image 2"
          class="w-full h-full object-cover aspect-square about-content-image origin-center"
        />
      </div>
    </div>
    <div>
      <div class="max-w-[368px] w-full mx-auto mt-24">
        <img
          src="/images/about-3.jpg"
          alt="About Us Image 3"
          class="w-full h-full object-cover aspect-square about-content-image origin-center"
        />
      </div>
    </div>
  </div>
</section>
