---
import { directors } from "@/data/directors.json";
import { getI18N } from "@/a18n/index.ts";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
---

<section id="directors-section">
  <div class="container mx-auto px-4 py-16">
    <div class="grid grid-cols-1 md:grid-cols-[auto_1fr] gap-28">
      <div class="w-full max-w-[368px]">
        <p class="text-[42px] leading-none">
          {t.ABOUT.DIRECTORS}
        </p>
      </div>
      <div class="relative">
        <ul class="opacity-50">
          {
            directors.map((director) => (
              <li class="py-6 text-[38px] font-black italic uppercase director-name-hidden relative">
                <span class="border-t opacity-30 border-black absolute w-full top-0 left-0" />
                {director.name}
              </li>
            ))
          }
        </ul>
        <ul class="absolute top-0 left-0 w-full h-full">
          {
            directors.map((director) => (
              <li class="py-6 text-[38px] font-black italic uppercase director-name relative">
                <span class="border-t border-black absolute w-full top-0 left-0 director-name-line" />
                {director.name}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
