---
import { getI18N } from "@a18n/index.ts";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
---

<footer class="pt-10 pb-5 mt-auto bg-black z-10 relative">
  <div
    class="container mx-auto w-full px-4 flex flex-col md:grid md:grid-cols-4 gap-4 text-center md:text-left"
  >
    <span class="col-span-4 mt-12 text-center">
      © <span class="font-bold italic">{t.GLOBAL.OWNER}</span>
      {new Date().getFullYear()}
    </span>
  </div>
</footer>
