---
import Logo from "@assets/logo.svg";
import Menu from "@components/organisms/Menu.astro";
import { getI18N } from "@a18n/index.ts";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
---

<header class="bg-white fixed top-0 w-full h-16 md:h-20 z-50" role="banner">
  <div class="container mx-auto flex items-center justify-between h-full px-4">
    <a href="/" class="logo" aria-label={t.GLOBAL.OWNER}>
      <img
        src={Logo.src}
        alt={`Logotipo de ${t.GLOBAL.OWNER}`}
        class="w-24 md:w-32"
      />
    </a>

    <Menu />
  </div>
</header>
