---
import Menu from "@/components/organisms/Menu.astro";
import { getI18N } from "@/a18n/index.ts";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
---

<header class="fixed top-0 w-full h-16 md:h-20 z-50 bg-black" role="banner">
  <div
    class="container mx-auto grid grid-cols-[1fr_auto_1fr] gap-3 items-center h-full px-4"
  >
    <span><a href="/" class="font-bold italic uppercase">Work</a></span>

    <a href="/" class="logo mx-auto" aria-label={t.GLOBAL.OWNER}>
      <img src="/logo.gif" alt={`Logotipo de ${t.GLOBAL.OWNER}`} class="w-56" />
    </a>

    <Menu />
  </div>
</header>
