<section
  class="hero h-[calc(100vh-80px)] overflow-hidden sticky top-0"
  role="region"
  aria-labelledby="welcome-heading"
>
  <div
    class="container mx-auto px-4 flex items-center justify-center h-full relative z-20"
  >
    <h1 class="text-3xl md:text-5xl font-bold text-shadow text-center title">
      Nueva web proximamente
    </h1>
  </div>
  <span
    class="absolute top-0 left-0 bg-black opacity-40 w-full h-full z-10 block"
  >
  </span>
  <!--
  <img
    src="/hero.jpg"
    class="image1 h-full w-full object-cover absolute top-0 left-0 z-0"
  />
-->

  <iframe
    title="vimeo-player"
    class="image1 h-full w-full object-cover absolute top-0 left-0 z-0 pointer-events-none scale-150"
    src="https://player.vimeo.com/video/1091248148?h=8c7e509a61&autoplay=1&muted=1&background=1"
    frameborder="0"
    allow="autoplay; fullscreen"
    allowfullscreen></iframe>
</section>

<script>
  import { gsap } from "gsap";
  import { SplitText, ScrollTrigger } from "gsap/all";

  gsap.registerPlugin(SplitText, ScrollTrigger);

  const title = document.querySelector(".title");
  const splitTitle = new SplitText(title, { type: "chars", mask: "chars" });

  gsap.from(splitTitle.chars, {
    duration: 0.1,
    y: 50,
    autoAlpha: 0,
    skewY: -10,
    ease: "power3.out",
    stagger: 0.05,
  });

  const animation = gsap
    .timeline()
    .to(".image1", {
      scale: 1.8,
      ease: "none",
    })
    .to(
      ".title",
      {
        opacity: 0,
        scale: 1.8,
      },
      "-=0.5"
    );

  ScrollTrigger.create({
    animation: animation,
    trigger: ".hero",
    start: "top top",
    end: "bottom top",
    scrub: 0.5,
  });
</script>
