<section
  class="hero h-[calc(100vh-80px)] overflow-hidden top-0 relative"
  role="region"
  aria-labelledby="welcome-heading"
>
  <span
    class="absolute top-0 left-0 bg-black opacity-0 w-full h-full z-10 block"
  >
  </span>

  <div class="image1 top-0 left-0 w-screen h-screen overflow-hidden -z-10">
    <iframe
      src="https://player.vimeo.com/video/1097798849?h=8c7e509a61&autoplay=1&muted=1&background=1"
      class="absolute top-1/2 left-1/2 h-screen w-[177.78vh] -translate-x-1/2 -translate-y-1/2 pointer-events-none"
      allow="autoplay; fullscreen"
      allowfullscreen></iframe>
  </div>
</section>
