<section class="py-8 h-[232px] overflow-hidden relative">
  <img
    src="/images/contact.jpg"
    alt="Contact us"
    class="absolute inset-0 w-full h-full object-cover object-center opacity-50"
  />
  <div class="container mx-auto px-4 relative h-full flex items-end">
    <h1
      class="text-5xl font-black leading-none text-balance italic uppercase max-w-[25ch]"
    >
      from sunny valencia with love
    </h1>
  </div>
</section>
