<section
  id="marquee"
  class="overflow-hidden py-8 cursor-default whitespace-nowrap"
>
  <div class="marquee-track flex gap-0 md:gap-5">
    <div class="marquee-content flex items-center gap-5 md:gap-20">
      <span
        class="text-[80px] md:text-[200px] uppercase font-black italic leading-none"
        >our work</span
      >
      <svg
        width="92"
        height="140"
        viewBox="0 0 92 140"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="h-14 md:h-[140px] flex-none"
      >
        <path d="M0 139L50.6272 0H92L41.3728 139H0Z" fill="white"></path>
      </svg>
    </div>
    <div class="marquee-content flex items-center gap-5 md:gap-20">
      <span
        class="text-[80px] md:text-[200px] uppercase font-black italic leading-none"
        >our work</span
      >
      <svg
        width="92"
        height="140"
        viewBox="0 0 92 140"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="h-14 md:h-[140px] flex-none"
      >
        <path d="M0 139L50.6272 0H92L41.3728 139H0Z" fill="white"></path>
      </svg>
    </div>
    <div class="marquee-content flex items-center gap-5 md:gap-20">
      <span
        class="text-[80px] md:text-[200px] uppercase font-black italic leading-none"
        >our work</span
      >
      <svg
        width="92"
        height="140"
        viewBox="0 0 92 140"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="h-14 md:h-[140px] flex-none"
      >
        <path d="M0 139L50.6272 0H92L41.3728 139H0Z" fill="white"></path>
      </svg>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap";

  function initMarquee() {
    const marquee = document.querySelector("#marquee");
    const track = marquee?.querySelector(".marquee-track") as HTMLElement;

    const distance = track.offsetWidth / 2;

    gsap.to(track, {
      x: `-=${distance}`,
      duration: 20,
      ease: "linear",
      repeat: -1,
      modifiers: {
        x: gsap.utils.unitize((x) => parseFloat(x) % distance),
      },
    });
  }

  initMarquee();
  document.addEventListener("astro:after-swap", initMarquee);
</script>
