---
import type { Video } from "@/types/videos";
import { getAllVideos } from "@/services/videos";
import VideoItem from "./organisms/VideoItem.astro";

const videos = await getAllVideos();
console.log("Videos:", videos);
---

<section class="pb-16">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {videos.map((video: Video) => <VideoItem video={video} />)}
    </div>
  </div>
</section>
