---
interface Props {
  href: string;
  classList?: string;
  areaLabel?: string;
  title?: string;
}

const { href, classList = [], areaLabel, title = "" } = Astro.props;
const styles = {
  link: "hover:text-primary underline",
};
---

<a
  href={href}
  area-label={title || areaLabel}
  title={title}
  class:list={[styles.link, classList]}
>
  <slot />
</a>
