---
export interface Props {
  title: string;
  long?: boolean;
}
const { title, long } = Astro.props;
import { getI18N } from "@/a18n/index.ts";
import Button from "@/components/atoms/Button.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const { currentLocale } = Astro;
const t = getI18N({ currentLocale: currentLocale ?? "es" });
---

<section class="pt-6 pb-14 md:pt-16 md:pb-32">
  <div class="container mx-auto px-4">
    <h2
      class:list={[
        "mb-8 text-balance",
        long
          ? "text-2xl max-w-[50ch]"
          : "text-5xl uppercase font-black italic max-w-[25ch] leading-none ",
      ]}
    >
      {title}
    </h2>
    <Button
      tag="a"
      href={getRelativeLocaleUrl(currentLocale ?? "es", "/contact")}
    >
      {t.GLOBAL.CONTACT}
    </Button>
  </div>
</section>
