---
import Plus from "@/assets/icons/plus.svg";
---

<div
  id="customCursor"
  class="fixed z-50 top-0 left-0 pointer-events-none"
  style="transform: scale(0);"
  transition:name="video-back-button"
>
  <Plus />
</div>
