---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Página no encontrada">
  <section class="text-center container mx-auto px-4 py-16">
    <h1>404 - Página no encontrada</h1>
    <p>Lo sentimos, la página que buscas no existe.</p>
  </section>
</Layout>
